@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

:root {
  --bodybg1: #ffffffd6;
  --bodybg: #dcffcfd6;
  --hero_bg: #7df09fec;
  --light_text: #fff;
  --dark_text: #0b0b0b;
}

body {
  background-color: var(--bodybg1);
}

.homepage_container {
  /* border: 2px solid red; */
  width: 1335px;
  height: 600px;
  border-radius: 0px 0px 20px 20px;
  background-color: var(--hero_bg);
  z-index: -5;
  /* border: 2px solid red; */
}

.navbar {
  display: flex;
  gap: 320px;
  margin-left: 20px;
  padding-top: 20px;
  align-items: center;
}

.navbar ul {
  list-style: none;
}

.navlinks {
  display: flex;
  gap: 100px;
}

.navlinks a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.user_links ul {
  display: flex;
  gap: 30px;
}

.user_links a {
  text-decoration: none;
}

.logo {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}

.login {
  background-color: #fff;
  color: #000;
  font-size: 0.99rem;
  padding: 10px;
  border-radius: 10px;
}
.sign-up {
  background-color: #000;
  color: #fff;
  font-size: 0.99rem;
  padding: 10px;
  border-radius: 10px;
}

.hero_text {
  font-size: 5rem;
  margin-top: 40px;
  font-weight: 800;
  color: #fff;
  line-height: 100px;
  margin-left: 40px;
}

.img-hero {
  position: absolute;
  width: 460px;
  top: 60px;
  left: 790px;
}

.text {
  width: 70ch;
  margin-left: 40px;
  color: #fff;
  margin-top: 10px;
  font-family: "poppins", sans-serif;
}

.btn {
  width: 200px;
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  font-size: 0.95rem;
}

.How-it-works-section {
  height: 900px;
  /* border: 2px solid yellow; */
  margin-top: 140px;
}

.How-it-works-title {
  color: var(--dark_text);
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-top: 20px;
}

.description-text {
  color: #b7b6b6;
  padding-top: 20px;
  text-align: center;
}

/* styling illustration section */
.taking-picture {
  height: 300px;
  width: 200px;
  margin-left: 50px;
  margin-top: 50px;
}
.location {
  height: 300px;
  width: 260px;
  margin-left: 50px;
  margin-top: 50px;
}

.rider {
  height: 300px;
  width: 300px;
  margin-left: 20px;
  margin-top: 50px;
}

.number {
  color: #b7b6b6;
  font-size: 3.4rem;
  font-weight: 800;
  padding-right: 14px;
}

.steps {
  color: var(--dark_text);
  font-size: 2rem;
  margin-left: 10px;
  font-weight: 600;
}

.steps-info {
  color: #b7b6b6;
  width: 35ch;
}

.illustrations-container {
  padding-left: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
